body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.file-upload {
  border: 2px dashed #ced4da;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
}

.dropdown__control {
  background: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
}

.dropdown__indicator {
  color: inherit !important;
}

.dropdown__indicator-separator {
  background: inherit !important;
}

.dropdown__single-value {
  color: inherit !important;
}
/* 
.dropdown__menu {
  color: inherit !important;
  background-color: var(--dark) !important;
} */

.dropdown__menu-list {
  color: inherit !important;
  background: inherit !important;
}
